<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-6 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Panier</div>
            <div class="panel-body">
                <div th:if="${#lists.isEmpty(listOrderItems)}">
                    <p>Votre panier est vide</p>
                </div>
                <div th:unless="${#lists.isEmpty(listOrderItems)}">
                    <table class="table">
                        <tr>
                            <th>Séance</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                        </tr>
                        <tr th:each="i:${listOrderItems}">
                            <td th:text="${i.movie}"></td>
                            <td th:text="${i.totalPrice}"></td>
                            <td th:text="${i.quantity}"></td>
                            <td>
                                <a class="btn btn-danger"
                                   th:href="@{/deleteOrderItem(id=${i.movie})}">Supprimer</a>
                            </td>
                        </tr>
                    </table>
                    <div><a class="btn btn-primary" th:href="@{/customer}">Passer commande</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



