<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nouveau client</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Nouveau client</div>
            <div class="panel-body">
                <form method="post" th:action="@{/saveCustomer}">
                    <div>
                        <label class="control-label" for="name">Name :</label>
                        <input class="form-control" name="name" th:value="${customer.name}" type="text">
                        <span class="text-danger" th:errors="${customer.name}"></span>
                    </div>
                    <div>
                        <label class="control-label" for="lastName">LastName :</label>
                        <input class="form-control" name="lastName" th:value="${customer.lastName}" type="text">
                        <span class="text-danger" th:errors="${customer.lastName}"></span>
                    </div>
                    <div>
                        <label class="control-label" for="address">Address :</label>
                        <input class="form-control" name="address" th:value="${customer.address}" type="text">
                        <span class="text-danger" th:errors="${customer.address}"></span>
                    </div>
                    <div>
                        <label class="control-label" for="email">E-mail :</label>
                        <input class="form-control" name="email" th:value="${customer.email}" type="email">
                        <span class="text-danger" th:errors="${customer.email}"></span>
                    </div>
                    <div>
                        <label class="control-label" for="phone">Phone :</label>
                        <input class="form-control" name="phone" th:value="${customer.phone}" type="tel">
                        <span class="text-danger" th:errors="${customer.phone}"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>