<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Récapitulatif de la commande</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">Récapitulatif de la commande</div>
                <div class="panel-body">
                    <div>
                        <h2>Client :</h2>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <h2>Commande :</h2>
                        <ul th:each="a:${}">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div></div>
                    </div>
                    <div>
                        <label>Total :</label>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>