<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Récapitulatif de la commande</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Récapitulatif de la commande</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Client :</h2>
                        <p th:text="${customer.name}"></p>
                        <p th:text="${customer.lastName}"></p>
                        <p th:text="${customer.address}"></p>
                        <p th:text="${customer.email}"></p>
                        <p th:text="${customer.phone}"></p>
                    </div>
                    <div class="col-md-6">
                        <h2>Commande :</h2>
                        <ul class="list-inline">
                            <li class="col-xs-offset-1">Description</li>
                            <li class="col-xs-offset-1">Quantité</li>
                            <li class="col-xs-offset-1">Prix</li>
                        </ul>
                        <ul class="list-inline" th:each="i:${listOrderItem}">
                            <li class="col-xs-offset-1" th:text="${i.article.description}"></li>
                            <li class="col-xs-offset-1" th:text="${i.quantity}"></li>
                            <li class="col-xs-offset-1" th:text="${i.totalPrice}"></li>
                        </ul>
                        <div></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-8">
                    <label>Total :</label>
                    <div th:text="${totalAmount}"></div>
                </div>
                <div>
                    <a class="btn btn-success" onclick="return confirm('Souhaitez-vous valider la commande ?')"
                       th:href="@{/saveOrder}">Valider la commande</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>